.button {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: $orange;
  color: $white;

  &--details {
    min-width: 176px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &:hover {
    background-color: $bright-orange;
  }
}

@media (max-width: $width-only-tablet) {
  .button {
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}

@media (max-width: $width-only-mobile) {
  .button {
    width: 100%;
  }
}
