.button {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $orange;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .button {
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}
