.country {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}

.country__title {
  line-height: 90px;
}

@media (max-width: $width-only-tablet) {
  .country__title {
    line-height: 45px;
  }
}

@media (max-width: $width-only-mobile) {
  .country__title {
    line-height: 36px;
  }
}

.country__text {
  color: $dark-grey;
}
