.details {
  @include container;
  position: relative;
  margin-top: 135px;
  margin-bottom: 150px;
  padding-left: 10px;
  color: $dark-black;
}

@media (max-width: $width-only-tablet) {
  .details {
    display: grid;
    grid-template-rows: 70px auto 75px;
    grid-template-columns: auto auto auto;
    margin-top: 122px;
    margin-bottom: 62px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .details {
    display: block;
    margin-top: 32px;
  }
}

@media (max-width: $width-only-tablet) {
  .details {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: $width-only-tablet) {
  .details__image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

@media (max-width: $width-only-mobile) {
  .details__image {
    display: none;
  }
}

.details__content {
  position: absolute;
  top: 70px;
  right: 0;
  padding: 50px 49px 49px 50px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 30px $pale-grey;
}

@media (max-width: $width-only-tablet) {
  .details__content {
    position: initial;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .details__image img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: $width-only-mobile) {
  .details__content {
    @include container;
    padding-bottom: 40px;
    background-color: $lighter-grey;
    box-shadow: none;
  }
}

.details__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
}

.details__text {
  margin-top: 10px;
  margin-bottom: 24px;
  text-align: center;
  line-height: 24px;
}

@media (max-width: $width-only-mobile) {
  .details__text {
    margin-top: 20px;
    margin-bottom: 18px;
  }
}
