.footer-email {
  font-size: 14px;
  line-height: 17px;
}

.footer-email__title {
  &--tablet {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 28px;
    background-image: url("../img/e-mail.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $width-only-tablet) {
    &--tablet {
      display: inline;
    }
  }

  &--desktop {
    display: inline;
  }

  @media (max-width: $width-only-tablet) {
    &--desktop {
      display: none;
    }
  }
}
