.footer {
  @include container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__block {
  &:not(:last-child) {
    border-right: 1px solid $bright-grey;
  }
}

.footer__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: $dark-black;
}

.footer__list-helper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__list {
  @include reset-list;
  font-size: 14px;
  line-height: 17px;
}

.footer__link {
  color: $grey;
}

.footer__contacts-link {
  line-height: 32px;
  color: $orange;
}

.footer__text {
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}
