.form__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;

  &--modal {
    flex-direction: column;
    padding-left: 59px;
    padding-right: 61px;
    box-sizing: border-box;
  }
}

.form__item--modal {
  margin-bottom: 20px;
}

@media (max-width: $width-only-mobile) {
  .form__list {
    flex-direction: column;
  }

  .form__item {
    width: 100%;
    margin-bottom: 18px;
  }
}

.form__input {
  min-width: 269px;
  padding: 16px 0 15px 15px;
  font-size: 14px;
  line-height: 17px;
  color: $dark-black;

  &::placeholder {
    color: $deep-grey;
    opacity: 1;
  }
}

@media (max-width: $width-only-mobile) {
  .form__input {
    min-width: auto;
    width: 100%;
    box-sizing: border-box;
  }
}

.form__button-wrapper {
  margin-top: 24px;
  text-align: center;
}

.form__button-modal {
  text-align: center;
}

@media (max-width: $width-only-mobile) {
  .form__button-wrapper {
    margin-top: 0;
  }
}
