.header {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 31px;
}

@media (max-width: $width-only-tablet) {
  .header {
    position: relative;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
    padding-top: 17px;
    align-items: start;
  }
}

.header__phone {
  margin-left: 61px;
  margin-right: 11px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 32px;
  color: $dark-black;
  text-decoration: underline;

  &:hover {
    color: $orange;
  }
}
