.main-subject {
  width: 100%;
  height: auto;
  min-height: 860px;
  background-image: url("../img/mountain-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $blue;
}

@media (max-width: $width-only-tablet) {
  .main-subject {
    min-height: 344px;
    background-image: url("../img/mountain-main-tablet.jpg");
  }
}

@media (max-width: $width-only-mobile) {
  .main-subject {
    background-image: none;
    background-color: transparent;
  }
}

.main-subject__container {
  @include container;
  display: flex;
}

@media (max-width: $width-only-mobile) {
  .main-subject__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-subject__helper {
  margin-left: auto;
  padding-right: 58px;
}

@media (max-width: $width-only-tablet) {
  .main-subject__helper {
    margin: 0 auto;
    padding-right: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .main-subject__helper {
    width: 100%;
    margin: 0;
    padding-right: 0;
  }
}

.main-subject__title {
  max-width: 412px;
  padding-top: 185px;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .main-subject__title {
    max-width: 398px;
    padding-top: 60px;
    text-align: center;
  }
}

@media (max-width: $width-only-mobile) {
  .main-subject__title {
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 81px;
  }
}

@media (max-width: $width-only-mobile) {
  .main-subject__title-wrapper {
    min-height: 235px;
    background-image: url("../img/mountain-main-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main-subject__text {
  max-width: 376px;
  margin-top: 30px;
  margin-bottom: 35px;
  line-height: 27px;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .main-subject__text {
    max-width: 420px;
    margin-top: 17px;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: $width-only-mobile) {
  .main-subject__text {
    max-width: none;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 16px;
    margin-right: 16px;
    color: $light-black;
  }
}

.main-subject__link {
  position: relative;
  min-width: 340px;
  padding-left: 40px;

  &::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 28px;
    width: 16px;
    height: 16px;
    background-image: url("../img/arrow.svg");
  }
}

@media (max-width: $width-only-tablet) {
  .main-subject__link {
    min-width: 250px;
    text-align: left;
  }
}

@media (max-width: $width-only-tablet) {
  .main-subject__button-wrapper {
    text-align: center;
  }
}


@media (max-width: $width-only-mobile) {
  .main-subject__button-wrapper {
    @include container;
  }
}
