.main-nav {
  margin-left: auto;
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $width-only-tablet) {
  .main-nav__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}

.main-nav__item {
  &:not(:first-child) {
    margin-left: 40px;
  }
}

@media (max-width: $width-only-tablet) {
  .main-nav__item {
    margin-bottom: 30px;

    &:not(:first-child) {
      margin-left: 0;
    }
  }
}

.main-nav__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: $dark-black;

  &:hover {
    color: $orange;
  }
}

@media (max-width: $width-only-tablet) {
  .main-nav__link {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: $deep-grey;
    background-color: $lighter-grey;
  }
}

.main-nav__toggle {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .main-nav__toggle {
    display: inline-block;
  }
}
