.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 728px;
  min-height: 444px;
  font-size: 25px;
  line-height: 43px;
  color: $deep-grey;
  background-color: $lighter-grey;

  &--success {
    justify-content: center;
    align-items: center;
  }

  &--closed {
    display: none;
  }
}

.modal__image {
  max-width: 338px;
}

@media (max-width: $width-only-mobile) {
  .modal {
    max-width: 320px;

    &--form:not(&--closed) {
      @include container;
      display: block;
    }
  }

  .modal__image {
    display: none;
  }
}

.modal__title {
  text-align: center;
  font-weight: 600;
}

.modal__text {
  font-weight: 500;
  text-align: center;
}

.modal__close {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 23px;
    height: 1px;
    background-color: $brighter-grey;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
