.places__container {
  @include container;
}

.places__text {
  color: $dark-grey;
}

@media (max-width: $width-only-tablet) {
  .places__text {
    text-align: center;
  }
}

@media (max-width: $width-only-mobile) {
  .places__text br {
    display: none;
  }
}

.places__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: $width-only-tablet) {
  .places__list {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: $width-only-mobile) {
  .places__list {
    padding-left: 0;
    padding-right: 0;
  }
}

.places__item {
  position: relative;
  max-width: 350px;
  margin-bottom: 101px;

  &:nth-last-child(1) {
    margin-right: auto;
    margin-left: 60px;
  }

  &:nth-last-child(2) {
    margin-left: auto;
    margin-right: 60px;
  }
}

@media (max-width: $width-only-tablet) {
  .places__item {
    max-width: 288px;
    margin-bottom: 19px;

    &:nth-last-child(1) {
      margin-right: auto;
      margin-left: auto;
    }

    &:nth-last-child(2) {
      margin-left: initial;
      margin-right: initial;
    }
  }
}

@media (max-width: $width-only-mobile) {
  .places__item {
    max-width: 288px;
  }
}

/*.places__item:nth-last-child(1) {
  margin-right: auto;
  margin-left: 60px;
}*/

/*@media (max-width: $width-only-tablet) {
  .places__item:nth-last-child(1) {
    margin-right: auto;
    margin-left: auto;
  }
}*/

/*.places__item:nth-last-child(2) {
  margin-left: auto;
  margin-right: 60px;
}*/

/*@media (max-width: $width-only-tablet) {
  .places__item:nth-last-child(2) {
    margin-left: initial;
    margin-right: initial;
  }
}*/

.places__image-helper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

.places__image-description {
  display: inline-block;
  min-width: 215px;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  background-color: $white;
}

@media (max-width: $width-only-tablet) {
  .places__title br {
    display: none;
  }
}
