.places__container {
  @include container;
}

.places__text {
  margin-top: 64px;
  margin-bottom: 56px;
  color: $dark-grey;
}

@media (max-width: $width-only-tablet) {
  .places__text {
    margin-top: 21px;
    margin-bottom: 39px;
    text-align: center;
  }
}

@media (max-width: $width-only-mobile) {
  .places__text br {
    display: none;
  }

  .places__text {
    margin-bottom: 18px;
  }
}

.places__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: $width-only-tablet) {
  .places__list {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: $width-only-mobile) {
  .places__list {
    padding-left: 0;
    padding-right: 0;
  }
}

.places__item {
  position: relative;
  max-width: 350px;
  margin-bottom: 101px;

  &:nth-last-child(1) {
    margin-right: auto;
    margin-left: 60px;
    margin-bottom: 97px;
  }

  &:nth-last-child(2) {
    margin-left: auto;
    margin-right: 60px;
    margin-bottom: 97px;
  }
}

@media (max-width: $width-only-tablet) {
  .places__item {
    max-width: 288px;
    margin-bottom: 19px;

    &:nth-last-child(1) {
      margin-right: auto;
      margin-left: auto;
    }

    &:nth-last-child(2) {
      margin-left: initial;
      margin-right: initial;
      margin-bottom: 19px;
    }
  }
}

@media (max-width: $width-only-mobile) {
  .places__item {
    max-width: initial;
    width: 100%;
    margin-bottom: 30px;

    &:nth-last-child(1) {
      margin-bottom: 47px;
    }
  }

  .places__image {
    margin-left: auto;
    margin-right: auto;
  }
}

.places__image-helper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

.places__image-description {
  display: inline-block;
  min-width: 215px;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  background-color: $white;
}

.places__title {
  margin-top: 199px;
}

@media (max-width: $width-only-tablet) {
  .places__title br {
    display: none;
  }

  .places__title {
    margin-top: 80px;
  }
}

@media (max-width: $width-only-mobile) {
  .places__title {
    margin-top: 109px;
  }
}

.places__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: $white;

  &::after {
    content: "смотреть подробнее";
    display: none;
    padding: 30px 25px;
    border: 1px solid rgba($white, 0.7);
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $overlay;
  }

  &:hover::after {
    display: inline-block;
  }
}
