.price-information__title {
  margin-top: 111px;
  line-height: 90px;
}

@media (max-width: $width-only-tablet) {
  .price-information__title {
    margin-top: 84px;
    line-height: 45px;
  }
}

@media (max-width: $width-only-mobile) {
  .price-information__title {
    margin-top: 43px;
    line-height: 36px;
  }
}

.price-information__text {
  margin-top: 50px;
  line-height: 27px;
  color: $dark-grey;
}

@media (max-width: $width-only-tablet) {
  .price-information__text {
    margin-top: 21px;
    margin-bottom: 34px;
    text-align: center;
  }
}

@media (max-width: $width-only-mobile) {
  .price-information__text {
    margin-bottom: 23px;
  }
}

.price-information__contact {
  color: $dark-black;
}

.price-information__subtitle {
  text-align: center;
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
}

@media (max-width: $width-only-tablet) {
  .price-information__subtitle {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.price-information__phone {
  position: relative;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone.svg");
  }
}

@media (max-width: $width-only-tablet) {
  .price-information__phone {
    margin-top: 10px;
    margin-bottom: 31px;
    font-size: 18px;
    color: $orange;

    &::before {
      display: none;
    }
  }
}

@media (max-width: $width-only-mobile) {
  .price-information__phone {
    margin-bottom: 40px;
  }
}
