.title {
  position: relative;
  margin: 0;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;

  &--underline::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 3px;
    left: 0;
    top: 119%;
    background-color: $orange;
  }

  &--places::after {
    width: 228px;
  }

  &--main::after {
    display: none;
  }

  &--content::after {
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    left: 0;
    top: 119%;
    background-color: $orange;
  }
}

@media (max-width: $width-only-tablet) {
  .title {
    text-align: center;
    font-size: 30px;
    line-height: 45px;

    &--underline::after {
      display: none;
    }

    &--content {
      text-align: left;
    }
  }
}

@media (max-width: $width-only-mobile) {
  .title {
    font-size: 24px;
    line-height: 36px;

    &--content::after {
      left: 70px;
    }
  }
}
