$white: #ffffff;
$black: #000000;
$light-black: #2c2e3f;
$dark-black: #141517;
$darker-grey: rgba($dark-black, 0.7);
$deep-grey: #48494d;
$grey: rgba($dark-black, 0.5);
$bright-grey: #d7d9df;
$dark-grey: rgba($light-black, 0.7);
$light-grey: rgba($light-black, 0.3);
$lighter-grey: #fbf8f8;
$orange: #fe7865;
$blue: #81b3d2;
