html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $light-black;
}

a {
  text-decoration: none;
}
